@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

/* === */

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	color: #424551;
}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	/* padding: 0 15px; */
	position: relative;
	z-index: 2;
}

.button {
	padding: 13.21px 40px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	font-weight: 700;
	/* line-height: 52px; */
	letter-spacing: 0.5px;
	color: #FFFFFF;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.button:hover {
	transform: scale(1.02);
	box-shadow: 0px 0px 3px 0px rgba(255, 64, 58, 0.96);
	text-decoration: none;
}


.section-title {
	color: #1E212C;
}

.section-title__title {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.section-title__subtitle {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
}

a:hover {
	text-decoration: underline;
}


.second-section__row {

	justify-content: space-between;
	align-items: center
}

.questions {
	position: relative;
}

.questions__container {
	padding: 180px 15px;
}

.questions__row {
	display: flex;
	row-gap: 65px;
	column-gap: 105px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.questions__first-column {
	flex: 0 1 35.37%;
}

.questions__first-column img {
	max-width: 100%;
	transform: translate(-1.22%, 12.91%);
}


.questions__second-column {
	flex: 0 1 55.31%;
}

.q-form {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 24px;

}

.q-form__line {
	flex: 0 0 48%;
}

.q-form__label {
	margin-bottom: 8px;
	display: inline-block;
}

.q-form__input,
textarea {
	border: 1px solid #D7DADD;
	border-radius: 4px;
	height: 52px;
	padding: 13px 16px;
	font-size: 14px;
	width: 100%;
}

.q-form__input:focus,
textarea:focus {
	outline: 1px solid rgba(255, 63, 58, 0.4);
	box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
}

.q-form__input::placeholder,
textarea::placeholder {
	color: #9A9CA5;
}

.q-form__line:nth-child(5) {
	flex: 1 0 100%;
}

textarea.q-form__message {
	resize: none;
	height: 128px;
	/* margin-bottom: 48px; */
	overflow: auto;

}


.checkbox {
	position: relative;

}

.checkbox__input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;

}

.checkbox__input:focus+.checkbox__label {
	text-decoration: underline;
}

.checkbox__input:checked+.checkbox__label::before {
	background: #FF3F3A url('../img/check.svg') center 50% no-repeat;
}


.checkbox__label {
	cursor: pointer;
	display: inline-flex;
	align-items: baseline;
	gap: 12px;
}

.checkbox__label::before {
	content: "";
	flex: 0 0 16px;
	width: 16px;
	height: 16px;
	background: #FF3F3A;
	border: 1px solid #FF3F3A;
	border-radius: 3px;

}

.checkbox__text {
	align-self: baseline;
}

/*↓ Custom radio buttons ↓*/
.radio {
	position: relative;

}

.radio__input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;

}

.radio__input:focus+.radio__label {
	text-decoration: underline;
}

.radio__input:checked+.radio__label::before {
	background: #ffffff  center 50% no-repeat;
}


.radio__label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 12px;
}

.radio__label::before {
	content: "";
	flex: 0 0 16px;
	width: 16px;
	height: 16px;
	background: #FF3F3A;
	border: 4px solid #FF3F3A;
	border-radius: 50%;

}

/*↑ Custom radio buttons ↑*/

.footer::before {
content: "";
background: #FF3F3A url('../img/check.svg') center no-repeat;
background-size: contain;
position: absolute;
bottom: 29%;
left: 2%;
width: 50px;
height: 70px;
border-radius: 4px;
animation: floating 0.8s alternate-reverse infinite;
}

@keyframes floating {
	0% {
		bottom: 29%;
			}
	100% {
		bottom: 24%;
		}
}

.footer {
	background: #D7DADD;
}

.fform__line {
	margin-bottom: 5px;
}