@import "reset.css";

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100%;
}

.scene {
	height: 100vh;
}

.sky {
	min-height: 70%;
	background: #004fe2;
}

.sky__sun {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #ffffff;
	position: relative;
	top: 30px;
	left: 300px;
}

.sky__cloud {
	width: 500px;
	height: 200px;
	border-radius: 33% 40% 44% 38% / 48% 47% 52% 50%;
	background: linear-gradient(to bottom, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%);
	position: relative;
	left: 750px;
}

.ground {
	min-height: 30%;
	background: #498f07;
	position: relative;
}

.bush {
	width: 200px;
	height: 200px;
	border-radius: 45% 41% 33% 35% / 56% 59% 22% 20%;
	background: #058d00;
	position: absolute;
	transform: translate(840px, -135px);

}

.regular-tree {
	position: absolute;
	transform: translate(20px, -120px);
}

.regular-tree__trunk {
	width: 60px;
	height: 125px;
	background: #533d01;
	position: absolute;
	left: 100px;
	top: 90px;
}

.regular-tree__branches {
	border-radius: 30% 30% 30% 30% / 45% 45% 50% 55%;
	background: #2fb32b;
	position: relative;
	/*так можна було абсолютом, але було цікаво погратися =) */

}

.regular-tree__branches--top {
	width: 225px;
	height: 110px;

	left: 30px;
	top: -265px;
}

.regular-tree__branches--middle {
	width: 300px;
	height: 140px;

	left: -10px;
	top: -285px;
}

.regular-tree__branches--bottom {
	width: 350px;
	height: 175px;

	left: -40px;
	top: -320px;
	z-index: 1;
}

.pine-tree {
	position: absolute;
	transform: translate(1630px, 210px);
}

.pine-tree__trunk {
	width: 50px;
	height: 250px;
	background: #856203;
	position: absolute;

	right: 150px;
	bottom: 20px;
	z-index: 2;
}

.pine-tree__branches {
	width: 0;
	height: 0;
	position: absolute;
}


.pine-tree__branches--top {
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 200px solid #06612f;

	right: 80px;
	bottom: 440px;
	z-index: 5;
}

.pine-tree__branches--middle {
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 250px solid #06612f;

	right: 30px;
	bottom: 315px;
	z-index: 4;
}

.pine-tree__branches--bottom {
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 300px solid #06612f;

	right: -20px;
	bottom: 185px;
	z-index: 3;
}


.car {
	position: absolute;
	transform: translate(1550%, -450%);

}

.car__wheels {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.car__wheel {
	width: 70px;
	height: 70px;
	background: #000;
	border-radius: 50%;
	position: absolute;
	top: -20px;
	z-index: 2;
	border: 5px dashed #807474;
}

.car__wheel:first-child {
	left: 40%;
}

.car__wheel:last-child {
	left: 850%;
}


.car__body {
	width: 300px;
	height: 85px;
	background: #ffffff;
	border: 1px solid #000;

	position: absolute;
	bottom: 0px;
	z-index: 1;
}

.car__front-light {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fbff03;

	position: relative;
	left: -10px;
	bottom: 25px;
}

.car__rear-light {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #ff2003;

	position: relative;
	left: 290px;
	bottom: 45px;
}

.cabin {
	width: 240px;
	height: 120px;
	background: #ffffff;
	position: absolute;
	left: 30px;
	bottom: 85px;
}

.cabin__windscreen {
	width: 20px;
	height: 100px;
	background: #178caf;
	position: relative;
	top: 12px;
}

/*** TRANSITION AND ANIMATION ***/

/*** 3.1) За допомогою transition потрібно 
зробити появу об'єкту при наведенні. 
Поява має відбутись за 3 секунди через 1 секунду після наведення. 
Також має змінись колір фону об'єкту після появи. ***/


/* стилізацію класів об'єктів, для виконання цього завдання, свідомо пишу ще раз (дублюю), а не редагую (дописую) вище по коду, де вони були першочергово ініційовані */

.sky__sun {
	opacity: 0.06;
}

.sky__cloud {
	padding: 90px;
}

.sky__cloud span {
	font-family: sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
}

.sky__cloud:hover+.sky__sun {
	opacity: 1;
	background: #ecc902;
	transition-duration: 3s;
	transition-property: opacity, background;
	transition-delay: 1s;
	transition-timing-function: linear, ease-in;
}

/*** 3.2) За допомогою animation & @keyframes зробити 
анімацію появи заголовку та тексту, 
а також неперервну ротацію об'єкту, повний оберт за 5 секунд. ***/

.text-block {
	font-family: sans-serif;
	color: #fff;
	position: absolute;
	left: 50%;
	line-height: 1.5;
	animation-name: show-up;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	animation-iteration-count: 3;
	animation-direction: alternate;
	animation-delay: 0.5s;
	animation-fill-mode: none;
}

.text-block__title:not(:last-child) {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 10px;
}

.text-block__text:not(:last-child) {
	font-size: 18px;
	margin-bottom: 10px;
}

@keyframes show-up {
	0% {
		transform: translate(0, 500px);
	}

	100% {
		transform: translate(0, 0);
	}
}


.car__wheel {
	animation: spinning-wheels 5s linear infinite reverse;
}

/* елемент для відслідковування повного оберту об'єкта за 5 секунд */
.car__wheel::before {
	content: "";
	color: #b3aa2b;
	width: 1px;
	height: 50%;
	background: #fff;
	position: absolute;
	transform: translate(28px, 0px);
}

.car__wheel:hover {
	animation-play-state: paused;
}

@keyframes spinning-wheels {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*** 
	1) Пропрацьовуємо усі властивості та їх значення - було виконано під час реалізації п.3
	2) Верстаємо та анімуємо АВТОМОБІЛЬ або будь що інше, у тому числі за допомогою transform position transition animation & @keyframes - було виконано під час реалізації п.3
***/