* {
	color: black;
}

/* Тип №1. Селектор тегу */
i {
	color: gray;
}

/* Тип №2. Селектор класу */
.diversity {
	color: red;
}

/* Тип №3. Селектор ID */
#to-top {
	color: green;
}

/* КОМБІНАЦІЇ СЕЛЕКТОРІВ */

/* Усі H6 з класом text-accent */
h6.text-accent {
	color: yellowgreen;
}
/* Усі теги з класами purple-one 
	та purple-two одночасно 
	НІЯКИХ ПРОБІЛІВ МІЖ КЛАСАМИ!
*/
.purple-one.purple-two {
	color: purple;
}

/* Звертаємось відразу до об'єктів з класом green-one та
	до об'єктів з класом green-two
 */
.green-one,
.green-two {
	color: green;
}

/* КАСКАДНІСТЬ (ВКЛАДЕНІСТЬ) СЕЛЕКТОРІВ */
/* ОБОВ'ЯЗКОВО ПРОБІЛ МІЖ ЕЛЕМЕНТАМИ */

/* Усі теги P в середені об'єктів з класом text */
.text p {
	color: blue;
}

/* Усі об'єкти з класом brick в середені об'єктів з класом text */
.text .brick {
	color: indianred;
}

/* Усі об'єкти в середені 
об'єктів з класом chapters */
.chapters * {
	color: slategray;
}

/* Усі теги P першого рівня (безпосередні) в середені об'єктів з класом rich */
.rich > p {
	color: slateblue;
}
/*
Усі теги LI які знаходяться 
далі по коду після об'єктів з класом final
та мають той самий рівень вкладеності
*/
.final ~ li {
	color: midnightblue;
}

/*
Тег LI який знаходяться беспосередньо 
далі по коду після об'єктів з класом final
та мають той самий рівень вкладеності
*/
.final + li {
	color: darkorange;
}
